@font-face {
  font-family: "SFProDisplay";
  src: url("./SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
}